			html,body{
				height: 100%;
				margin: 0;
				padding: 0;
			}
			.d1{
				height: 100%;
				color: white;
				text-align: center;
				background: url(../img/bg.png) no-repeat;
				background-size: cover;
			}
			.tuceng1{
				height: 100%;
				background-color: rgba(0,0,0,0.6);
			}
			.d1 h1{
				padding-top: 200px;
				margin-top: 0;
				font-size: 50px;
			}
			.d1 h1+p{
				width: 800px;
				margin: 0 auto;
				margin-bottom: 100px;
			}
			.form1{
				width: 1200px;
				margin: 0 auto;
				border: 1px solid white;
			}
			.form1 p{
				font-size: 12px;
				line-height: 1.5;
				margin-bottom: 40px;
			}
			.form1 h4{
				margin-bottom: 0;
				margin-top: 60px;
			}
			.new_form{
				margin-bottom: 30px;
			}
			.new_form input{
				width: 360px;
				height: 40px;
				border: 1px solid white;
				background-color: rgba(0,0,0,0);
			}
			.new_form input:nth-of-type(2){
				margin-left: 30px;
			}
			.new_form button{
				width: 200px;
				height: 55px;
				margin-left: 40px;
			}
			.d2{
				height: 655px;
			}
			.d2 p:nth-child(1){
				margin: 0;
				text-align: center;
				padding-top: 60px;
			}
			.d2 h1{
				text-align: center;
				width: 800px;
				margin: 30px auto;
			}
			.context1{
				width: 1010px;
				margin: 0 auto;
				height: 400px;
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;
			}
			.text{
				overflow: hidden;
			}
			.context1 .con1{
				width: 400px;
				height: 150px;
				/* border: 1px solid black; */
			}
			.context1 .con1 img{
				float: left;
			}
			.text h3{
				margin-top: 0;
				margin-left: 20px;
			}
			.text p{
				margin-left: 20px;
			}
			.d3{
				height: 100%;
				background: url(../img/bg1.png) no-repeat;
				background-size: cover;
			}
			.context2{
				width: 700px;
				height: 500px;
				/* border: 1px solid white; */
				position: relative;
				left: 300px;
				top:200px;
				color: white;
			}
			.context2 h1{
				font-size: 50px;
			}
			.context2 p{
				font-size: 24px;
				width: 500px;
			}
			.context2 button{
				margin-top: 40px;
				width: 320px;
				height: 70px;
				font-weight: bold;
			}
			.context2 button:nth-of-type(2){
				background-color: rgba(255,255,255,0.1);
				color: white;
			}
			.context3{
				width: 700px;
				height: 600px;
				border: 1px solid white;
				position: relative;
				top: -340px;
				left: 1100px;
				border-radius: 12%;
			}
			.con2{
				width: 600px;
				height: 550px;
				background-color: white;
				margin-top: 26px;
				margin-left: 54px;
				text-align: center;
			}
			.con2 h1{
				color: #2A3A4A;
				padding-top: 60px;
			}
			.con2 p{
				color: gray;
			}
			.context4{
				width: 500px;
				height: 290px;
				/* border: 1px solid black; */
				margin: 60px auto;
				display: flex;
				justify-content: space-between;
			}
			.context4 .con3{
				width: 150px;
				height: 290px;
				border: 1px solid #F3F3F3;
				text-align: left;
			}
			.context4 .con3 h2,p{
				padding-left: 10px;
			}
			.context4 .con3 h2{
				color: #2A3A4A;
			}
			.context4 .con3 p{
				font-size: 15px;
				line-height: 1.5;
			}
			.d4{
				height: 455px;
				text-align: center;
				border-bottom: 5px solid rgba(0,0,0,0.1);
			}
			.d4 h1{
				margin-top: 80px;
				margin-bottom: 80px;
			}
			.d4 .context5{
				width: 1200px;
				height: 300px;
				/* border: 1px solid black; */
				margin: 0 auto;
				display: flex;
				justify-content: space-between;
			}
			.d4 .context5 .con4{
				width: 350px;
				height: 300px;
				/* border: 1px solid black; */
			}
			.d4 .context5 .con4 .box1{
				width: 300px;
				margin: 0 auto;
			}
			.d5{
				height: 800px;
				border-bottom: 5px solid rgba(0,0,0,0.1);
			}
			.d5 .context6{
				width: 1000px;
				height: 300px;
				/* border: 1px solid black; */
				margin: 100px auto;
			}
			.d5 .context6:nth-of-type(2){
				margin-bottom: 0;
			}
			.d5 .context6 img{
				float: left;
			}
			.d5 .context6:nth-of-type(2) img{
				float: right;
			}
			.d5 .context6 p{
				color: gray;
			}
			.box2{
				overflow: hidden;
				padding-left: 40px;
			}
			.d5 .context6:nth-of-type(2) .box2{
				overflow: hidden;
				padding-right: 40px;
				padding-left: 0px;
			}
			.d6{
				height: 100%;
				text-align: center;
				border-bottom: 5px solid rgba(0,0,0,0.1);
			}
			.d6 h1{
				font-weight: lighter;
				font-size: 50px;
				line-height: 2;
				margin: 0px;
			}
			.d6 p{
				width: 800px;
				margin:0 auto;
				padding: 0;
				line-height: 1.5;
				color: gray;
			}
			.context7{
				width: 1000px;
				height: 700px;
				/* border: 1px solid black; */
				margin: 50px auto 0;
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;
			}
			.context7 .con5{
				width: 490px;
				height: 330px;
				/* border: 1px solid black; */
			}
			.con5:nth-of-type(1){
				background: url(../img/p4.png) no-repeat;
				background-size: cover;
			}
			.con5:nth-of-type(2){
				background: url(../img/p1.png) no-repeat;
				background-size: cover;
			}
			.con5:nth-of-type(3){
				background: url(../img/p2.png) no-repeat;
				background-size: cover;
			}
			.con5:nth-of-type(4){
				background: url(../img/p3.png) no-repeat;
				background-size: cover;
			}
			.tuceng2{
				width: 490px;
				height: 330px;
				background-color: rgba(0,0,0,0.6);
				text-align: center;
				opacity: 0;
				transition: 0.5s all;
			}
			.con5:nth-of-type(1):hover .tuceng2{
				cursor: pointer;
				opacity: 1;
			}
			.box3{
				width: 240px;
				height: 180px;
				margin: 0px auto;
				padding-top: 120px;
				color: white;
			}
			.box3 h2{
				margin: 0;
			}
			.box3 p{
				margin-top:10px ;
				width: 240px;
			}
			.context8{
				width: 240px;
				height: 60px;
				/* border: 1px solid black; */
				margin-top: 20px;
				display: flex;
				justify-content: space-between;
			}
			.context8 .con6{
				width: 60px;
				height: 60px;
				border: 1px solid gray;
				border-radius: 50%;
				line-height: 60px;
			}
			.context8 .con6:nth-of-type(3){
				line-height: 68px;
			}
			.d7{
				height: 600px;
				position: relative;
				border-bottom: 1px solid black;
			}
			.context9{
				width: 400px;
				height: 500px;
				border: 1px solid gray;
				position: absolute;
				top:45px;
				left: 450px;
			}
			.context9 p{
				text-align: center;	
				line-height: 80px;
				margin: 0;padding: 0;
				margin-bottom: 20px;
			}
			.context9 input{
				width: 320px;
				height: 40px;
				margin: 0 30px 30px 30px ;
			}
			.context9 textarea{
				margin-left: 30px;
			}
			.context9 button{
				background-color: black;
				width: 320px;
				color: white;
				height: 40px;
				margin-left: 30px;
				margin-top: 20px;
			}
			.context10{
				width: 400px;
				height: 500px;
				/* border: 1px solid black; */
				position: absolute;
				top:45px;
				left: 1050px;
			}
			.context10 p:nth-of-type(1){
				font-size: 32px;
			}
			.context10 p:nth-of-type(2){
				color: gray;
				margin-bottom: 60px;
			}
			.con7{
				width: 400px;
				height: 40px;
				/* border: 1px solid black; */
				margin-bottom: 20px;
				line-height: 50px;
			}
			.con7 span{
				overflow: hidden;
				padding-left: 10px;
			}
			.d8{
				height: 400px;
				background-color: black;
				margin: 0;padding: 0;
			}
			.d8 .context11{
				width: 1200px;
				height: 300px;
				/* border: 1px solid white; */
				margin: 0 auto;
				position: relative;
				top:40px;
				display: flex;
				justify-content: space-between;
			}
			.d8 .context11 .con8{
				width: 290px;
				height: 300px;
				/* border: 1px solid white; */
				padding-top: 30px;
			}
			.d8 .context11 .con8 p{
				color: gray;
				margin-bottom: 25px;
			}
			.d8 .context11 .con8 p:nth-of-type(1){
				color: white;
			}
			.d8 .context11 .con8 p img{
				margin-left: 20px;
			}